body {
    background: #f7f7f7;
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
}
